body {
  font-family: sans-serif;
}
body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  /* height: 400%; */
  height: 1500px;
}

.bigbox {
  height: 1500px;
}
.headerbox {
  background-color: red;
  height: 10%;
  width: 100%;
  position: fixed;
}
.headerbox_back {
  height: 74px;
  width: 100%;
}

.smallbox {
  background-color: green;
  width: 15%;
  height: 5%;
  top: 7.5%;
  left: 65%;
  position: fixed;
}

.static_box {
  display: flex;
  position: static;
}
.box1 {
  width: 70%;
  height: 900px;
  /* height: 100%; */
  background-color: blue;
  padding: 50px;
}
.box2 {
  width: 30%;
  background-color: yellow;
  border: gray 10px solid;
  height: 980px;
}

.title {
  font-size: 30px;
  color: white;
}
