.button {
  /* border: 1px solid grey; */
  border-radius: 20px;
  width: 150px;
  height: 30px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  transition: all 5s ease-in-out;
}

.button h6 {
  color: white;
  font-size: 15px;
}
.nico {
  margin-top: 30px;
  margin-left: 10px;
}
.nico {
  transition: all 5s ease-in-out;
}

.button:active {
  box-shadow: 4px 4px 10px #d9d9d9;
  background-color: #d9d9d9;
}

.button:active + .nico {
  border: 3px solid black;
  transform: scale(0.7, 0.7) rotate(120deg);
}
