/* @import "reset.css"; */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f8f7ff;
}
.signin {
  width: 300px;
  margin: 20px;
  padding: 10px;

  background-color: #f8f8f8;

  border-radius: 20px;
  box-shadow: 10px 10px 10px grey;
  background-clip: content-box;
}
.signin__title {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.signin__or {
  font-size: 11px;
  font-weight: 600;
  text-align: center;
}
.signin__input-forms {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.signin__input-form {
  width: 100%;
  height: 30px;
  margin-top: 18px;
  border: none;
  opacity: 0.4;
  border-radius: 8px;
}

/* .signin__condition {
  margin: 0px 0px;
} */

.signin__forget {
  display: block;
  text-align: right;
  margin-bottom: 10px;
  margin: 15px 0px;
}

.signin__remember {
  margin-bottom: 10px;
}

/* .signin__sns-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */

/* .signin__button {
  width: 100px;
  background-color: blue;
  color: white;
} */
.signin__signin-btn {
  text-decoration: none;
  text-align: center;
  /* 수평 조정 */

  border-radius: 30px;
  /* width: 100px; */
  /* height: 80px; */
  /* 버튼에서 height를 넣는 경우 상하 align은 어떻게 하나  */
  background-color: tomato;
  padding: 10px 0px;
  margin: 30px 0px 20px 0px;
}

.btn-link {
  color: white;
  text-decoration: none;
  font-size: 11px;
}
.signin__sns-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 20px 0px;
}

.signin__sns-btn {
  width: 120px;
  text-decoration: none;
  text-align: center;
  /* 수평 조정 */

  border-radius: 30px;
  /* width: 100px; */
  /* height: 80px; */
  /* 버튼에서 height를 넣는 경우 상하 align은 어떻게 하나  */
  /* background-color: blue; */
  padding: 10px 0px;
  /* margin: 0px 10px; */
}

.text-link {
  font-size: 11px;
  color: red;
  opacity: 0.4;
}

.plain-text {
  font-size: 11px;
  color: black;
  opacity: 0.4;
}

.signin__sns-btn:first-child {
  background-color: #475a95;
}
.signin__sns-btn:last-child {
  background-color: #5da1f2;
}
