html{
    height: 100%;
}
body {
    font-family: sans-serif;
  
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  
  }
  
  .center-box {
    width: 100px;
    height: 100px;
    background-color: pink;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  
  .small-box{
      width:20px;
      height: 20px;
      background-color: grey;
  }

  .small-box:nth-child(2):hover{
      background-color: red;
  }